/**
 * Use a better box model (opinionated).
 */
 
html {
  touch-action: manipulation;
  height: 100%;
}

/**
 * Use a more readable tab size (opinionated).
 */

 :root {
	tab-size: 4;
}
/** 清除内外边距 **/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
a {
  margin: 0;
  padding: 0;
  /*去除移动端特有的点击高亮*/
  -webkit-tap-highlight-color: transparent;
  /*阻止旋转屏幕时自动调整字体大小*/
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

body {
    font-family:
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol';
  font-size: 12px;
  /*ios下禁用微信webview调整字体大小*/
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  max-width: 540px;
  min-width: 320px;
  background-color: #fff;
  margin: 0 auto;
  color: #1a191e;
}
/* 阻止遮罩层滑动 */
body.bodyCls {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
em,
i {
  font-style: normal;
}

/** 重置列表元素 **/

ul,
ol {
  list-style: none;
}

/** 重置文本格式元素 **/

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: #1a191e;
  outline: none;
}
textarea {
  /*禁止文本域拖拽*/ 
  resize: none;
}

/** 重置表格元素 **/

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   margin: 0; /* 2 */
   /*清除表单按钮默认蓝色边框*/
  outline: none;
  border: none;
 }
/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */

 button,
 select { /* 1 */
   text-transform: none;
 }
 
 /**
  * Correct the inability to style clickable types in iOS and Safari.
  */
 
 button,
 [type='button'],
 [type='reset'],
 [type='submit'] {
   -webkit-appearance: button;
 }
 
 /**
  * Remove the inner border and padding in Firefox.
  */
 
 button::-moz-focus-inner,
 [type='button']::-moz-focus-inner,
 [type='reset']::-moz-focus-inner,
 [type='submit']::-moz-focus-inner {
   border-style: none;
   padding: 0;
 }
 
 /**
  * Restore the focus styles unset by the previous rule.
  */
 
 button:-moz-focusring,
 [type='button']:-moz-focusring,
 [type='reset']:-moz-focusring,
 [type='submit']:-moz-focusring {
   outline: 1px dotted ButtonText;
 }
 
 /**
  * Correct the padding in Firefox.
  */
 
 fieldset {
   padding: 0.35em 0.75em 0.625em;
 }
 
 /**
  * Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */
 
 legend {
   padding: 0;
 }
 
 /**
  * Add the correct vertical alignment in Chrome and Firefox.
  */
 
 progress {
   vertical-align: baseline;
 }
 
 /**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */
 
 [type='number']::-webkit-inner-spin-button,
 [type='number']::-webkit-outer-spin-button {
   height: auto;
 }
 
 /**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */
 
 [type='search'] {
   -webkit-appearance: textfield; /* 1 */
   outline-offset: -2px; /* 2 */
 }
 
 /**
  * Remove the inner padding in Chrome and Safari on macOS.
  */
 
 [type='search']::-webkit-search-decoration {
   -webkit-appearance: none;
 }
 
 /**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
 
 ::-webkit-file-upload-button {
   -webkit-appearance: button; /* 1 */
   font: inherit; /* 2 */
 }
  

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

 sub,
 sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
 }
 
 sub {
   bottom: -0.25em;
 }
 
 sup {
   top: -0.5em;
 }
/* 清除浮动 */

.clearfix::after,
.clearfix::before {
  content: '';
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
  display: block;
}

.clear {
  *zoom: 1;
}

.textEllipses {
  /*移动端文字溢出显示省略号*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.textEllOne {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*css3实现1px边框*/

/*单边框，颜色与方向在当前页调整*/

.border_l,
.border_r,
.border_t,
.border_b,
.border_all {
  position: relative;
}

.border_t::before,
.border_b::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(207, 207, 207, 0.3);
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.border_b::before {
  top: auto;
  bottom: 0;
}

.border_l::after,
.border_r::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(207, 207, 207, 0.3);
  width: 1px;
  height: 100%;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.border_r::after {
  left: auto;
  right: 0;
}
.border_all:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid rgba(207, 207, 207, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
