*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 12px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

body,
button,
dd,
dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

em,
i {
  font-style: normal;
}

/** 重置列表元素 **/

ul,
ol {
  list-style: none;
}

/** 重置文本格式元素 **/

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 输入框自动填充的背景色 */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #fff inset;
          box-shadow: 0 0 0 100px #fff inset;
}
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  outline: 0;
  border: none;
  font-size: inherit;
  font-family: inherit;
}
/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
}

/**
  * Remove the inner border and padding in Firefox.
  */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus styles unset by the previous rule.
  */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  /*禁止文本域拖拽*/
  resize: none;
}

/* 清除浮动 */

.clearfix::after,
.clearfix::before {
  content: '';
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
  display: block;
}

.clear {
  *zoom: 1;
}

.textEllipses {
  /*移动端文字溢出显示省略号*/
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.textEllOne {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}
/*css3实现1px边框*/

/*单边框，颜色与方向在当前页调整*/

.border_l,
.border_r,
.border_t,
.border_b,
.border_all {
  position: relative;
}

.border_t::before,
.border_b::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(207, 207, 207, 0.3);
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}

.border_b::before {
  top: auto;
  bottom: 0;
}

.border_l::after,
.border_r::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(207, 207, 207, 0.3);
  width: 1px;
  height: 100%;
  -webkit-transform: scaleX(0.5);
      -ms-transform: scaleX(0.5);
          transform: scaleX(0.5);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}
.border_r::after {
  left: auto;
  right: 0;
}
.border_all:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid rgba(207, 207, 207, 0.3);
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
